<div class="category-card">
  <div class="chip chip-icon"><i class="material-icons"><%= icon %></i></div>
  <h6 class="category-title"><%= title %></h6>
  <p class="category-desc"><%= description %></p>
  <a href="<%= link %>" class="category-link">1,2xx skills available</a>
</div>
