<footer class="page-footer white" style="border-top:1px solid #eee;">
  <div class="container grey-text text-darken-1">
    <p>© <%= new Date().getFullYear() %> Skill Sharing Community. All rights reserved.</p>
  </div>
</footer>
